Assignment1/Assignment1.aps
Assignment1/RCa16824
Assignment1/RCb16824
Assignment1/.vs/
Assignment1/Debug/
Assignment1/Assignment1/
Assignment1/x64/
Assignment2/Thumbs.db
Assignment1/Assignment1.vcxproj.*